$theme: #d36810;

// 触摸文字颜色
$hover-color: #192eee;

// 触摸背景颜色
$hover-background-color: #f3f1f1;

// 激活文字颜色
$active-color: #192eee;

// 激活背景颜色
$active-background-color: #f3f1f1;

// 黑色背景
$black: #000000;

// 白色
$white: #ffffff;